# IDE specific files
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Environment variables
.env
.env.local

# OS specific
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/